[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
cerberus = "*"
psycopg2-binary = "*"
python-dotenv = "*"
waitress = "*"

[dev-packages]
flake8 = "*"
ruff = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "flask run --debug"
